@use "@picocss/pico/scss/pico" with (
  $enable-semantic-container: true,
  $enable-classes: false
);
@use "./modules/masonry.scss";
@use "./modules/sidebar.scss";
@use "./modules/img-focus.scss";
@use "./modules/theme-switch.scss";
@use "./layout/home.scss";
@use "./layout/grid.scss";
@use "./layout/galleries.scss";
@use "./layout/archive.scss";
@use "./partials/classes.scss";
@use "./partials/anchor.scss";

:root {
  --spacing: 0.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --grid-gap: 1rem;
  --swiper-navigation-color: #000000;
  --pagefind-ui-scale: 1.25;
  --pagefind-ui-primary: var(--primary-hover);
  --pagefind-ui-text: var(--primary);
  --pagefind-ui-background: transparent;
  --pagefind-ui-tag: transparent;
  --pagefind-ui-border-radius: 0px;
  --form-placeholder: var(--primary);
  --special: hsl(198, 32%, 17%);
  --special-border: hsl(186, 32%, 50%);
  --special-focus: hsl(191, 52%, 25%);
  --special-focus-border: hsl(188, 62%, 32%);
}
::selection {
  background-color: rgba(20, 196, 255, 0.8);
}
::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
input:-moz-placeholder {
  color: var(--primary);
}
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #2e2e2e;
  --primary-hover: #525252;
  --primary-focus: rgba(194, 194, 194, 0.125);
}
[data-theme="dark"] {
  --primary: #c2c2c2;
  --primary-hover: #f5f5f5;
  --primary-focus: rgba(194, 194, 194, 0.125);
  --background-color: rgb(17, 25, 31);
  --card-background-color: rgb(31, 36, 41);
}

a[href^="http"][role="link"] {
  display: block;
  position: relative;
}
a[href^="http"][role="link"]::before {
  content: "";
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  margin-left: -1.25rem;
  margin-top: 0.75rem;
  background-size: 100%;
  background-color: #ffffff;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath d='M1792 256v640h-128V475l-851 850-90-90 850-851h-421V256h640zm-512 1007h128v529H256V640h529v128H384v896h896v-401z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
}
a[role="link"],
p a {
  text-decoration: underline;
  &:hover,
  &:focus,
  &:active,
  &[active],
  &[aria-current] {
    text-decoration-style: dashed;
  }
}
p a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.25rem;
  background-size: 100%;
  background-color: var(--primary);
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath d='M1792 256v640h-128V475l-851 850-90-90 850-851h-421V256h640zm-512 1007h128v529H256V640h529v128H384v896h896v-401z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
  vertical-align: middle;
}

body {
  > header,
  > main,
  > footer {
    padding: var(--spacing) 0;
  }
  header[role="banner"] {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    strong {
      color: var(--primary-hover);
    }
    img {
      width: 2.5rem;
      height: 2.5rem;
      &:hover {
        filter: saturate(1.25);
      }
    }
    ul:last-of-type {
      display: none;
      @media (min-width: 768px) {
        display: flex;
      }
    }
  }
  > header {
    > small {
      display: block;
      margin-bottom: 0.5rem;
    }
    hgroup,
    p {
      margin: 0;
    }
  }
  > main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--grid-gap);
    > * {
      flex-grow: 1;
      flex-shrink: 1;
    }
    > section {
      order: 1;
      flex-basis: 80%;
    }
    > aside {
      order: 0;
      flex-basis: 20%;
    }
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div {
      margin: var(--spacing) 0;
    }
    img {
      display: block;
      margin: var(--spacing) 0;
    }
    ul,
    ol {
      li {
        list-style-position: inside;
      }
    }
  }
  > footer {
    text-align: center;
    p {
      margin: 0;
      font-size: 0.85rem;
    }
    details {
      summary {
        width: fit-content;
        margin: 0 auto;
        font-weight: bold;
      }
    }
    nav {
      justify-content: center;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  &.listing {
    .generic-item {
      display: inline;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
}

type {
  margin: calc(var(--spacing) / 2) 0;
  padding: calc(var(--spacing) / 2);
  color: var(--primary);
  text-transform: uppercase;
  background: var(--primary-focus);
}
:where(svg:not([fill])) {
  fill: initial;
}

article,
grid[sections] article {
  width: 100%;
  h2,
  h3 {
    margin-bottom: 0.5rem;
  }
  &[card] {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--grid-gap) / 2);
    width: 100%;
    margin: calc(var(--form-element-spacing-vertical) / 4) 0;
    padding: calc(var(--form-element-spacing-vertical) / 1.25)
      calc(var(--form-element-spacing-horizontal) / 1.5);
    font-size: 1.85rem;
    font-weight: 500;
    box-shadow: none;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-style: solid;
    outline: none;
    &[link] {
      &:hover,
      &:focus,
      &[active] {
        text-decoration: underline;
      }
    }
    svg {
      filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 0.8));
      width: 1em;
      height: 1em;
      line-height: 1;
      vertical-align: middle;
    }
    h2,
    h3 {
      margin: 0;
    }
  }
}
images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: var(--grid-gap);
}

[special] {
  background-color: var(--special);
  border-color: var(--special-border);
  &:hover,
  &:focus,
  &[active] {
    background-color: var(--special-focus);
    border-color: var(--special-focus-border);
  }
}
[special],
[special-header] {
  color: #f5f5f5;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #f5f5f5;
  }
}

[table-of-contents] {
  display: none;
  width: fit-content;
  margin: calc(var(--block-spacing-vertical) / 2) 0 0 0;
  border-bottom: 0;
  summary {
    margin: 0;
  }
  > div {
    ol {
      margin: 0;
      ol {
        margin: 0;
      }
      li {
        list-style-position: inside;
        margin: 0;
      }
    }
    > ol {
      list-style-type: upper-latin;
      > ol {
        list-style-type: decimal;
        > ol {
          list-style-type: upper-roman;
          > ol {
            list-style-type: lower-roman;
            > ol {
              list-style-type: lower-alpha;
              > ol {
                list-style-type: disc;
              }
            }
          }
        }
      }
    }
  }
}

icon {
  display: inline-block;
  vertical-align: middle;
  svg {
    display: block;
    fill: initial;
    filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 0.8));
    width: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: middle;
  }
}

audio {
  width: 100%;
}

[lightbox] {
  cursor: zoom-in;
}

[special-header] {
  padding: 0.5rem 1rem;
  background-size: contain;
  background-position: center left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAAklEQVR4AewaftIAAAAnSURBVB3BgREAIAgDsa9lBtx/TjzQM1Hm7plmhk/iEfai6hBhbHMB9/oJTssVTDIAAAAASUVORK5CYII=");
  background-image: url("/img/banners/special-header_240.png");
  @media (min-width: 240px) {
    background-image: url("/img/banners/special-header_240.webp");
    background-image: image-set(
      "/img/banners/special-header_240.webp" type("image/webp"),
      "/img/banners/special-header_240.png" type("image/jpeg")
    );
  }
  @media (min-width: 320px) {
    background-image: url("/img/banners/special-header_320.webp");
    background-image: image-set(
      "/img/banners/special-header_320.webp" type("image/webp"),
      "/img/banners/special-header_320.png" type("image/jpeg")
    );
  }
  @media (min-width: 500px) {
    background-image: url("/img/banners/special-header_500.webp");
    background-image: image-set(
      "/img/banners/special-header_500.webp" type("image/webp"),
      "/img/banners/special-header_500.png" type("image/jpeg")
    );
  }
  @media (min-width: 640px) {
    background-image: url("/img/banners/special-header_640.webp");
    background-image: image-set(
      "/img/banners/special-header_640.webp" type("image/webp"),
      "/img/banners/special-header_640.png" type("image/jpeg")
    );
  }
  @media (min-width: 800px) {
    background-image: url("/img/banners/special-header_800.webp");
    background-image: image-set(
      "/img/banners/special-header_800.webp" type("image/webp"),
      "/img/banners/special-header_800.png" type("image/jpeg")
    );
  }
  @media (min-width: 1200px) {
    background-image: url("/img/banners/special-header_1200.webp");
    background-image: image-set(
      "/img/banners/special-header_1200.webp" type("image/webp"),
      "/img/banners/special-header_1200.png" type("image/jpeg")
    );
  }
  @media (min-width: 1600px) {
    background-image: url("/img/banners/special-header_1600.webp");
    background-image: image-set(
      "/img/banners/special-header_1600.webp" type("image/webp"),
      "/img/banners/special-header_1600.png" type("image/jpeg")
    );
  }
  @media (min-width: 2000px) {
    background-image: url("/img/banners/special-header_2000.webp");
    background-image: image-set(
      "/img/banners/special-header_2000.webp" type("image/webp"),
      "/img/banners/special-header_2000.png" type("image/jpeg")
    );
  }
  @media (min-width: 2600px) {
    background-image: url("/img/banners/special-header_2600.webp");
    background-image: image-set(
      "/img/banners/special-header_2600.webp" type("image/webp"),
      "/img/banners/special-header_2600.png" type("image/jpeg")
    );
  }
  @media (min-width: 3200px) {
    background-image: url("/img/banners/special-header_3200.webp");
    background-image: image-set(
      "/img/banners/special-header_3200.webp" type("image/webp"),
      "/img/banners/special-header_3200.png" type("image/jpeg")
    );
  }
}

button,
a[role="button"],
summary[role="button"] {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: calc(var(--grid-gap) / 2);
  width: auto;
  margin: calc(var(--form-element-spacing-vertical) / 4)
    calc(var(--form-element-spacing-horizontal) / 4);
  padding: calc(var(--form-element-spacing-vertical) / 1.75)
    calc(var(--form-element-spacing-horizontal) / 1.5);
  line-height: 1;
  background-color: #3c76be;
  border-color: #87acd9;
  > svg {
    fill: initial;
    filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 0.8));
    width: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: middle;
  }
  &:hover,
  &:focus,
  &[active] {
    background-color: #1673e3;
    border-color: #6fa9f1;
    box-shadow:
      var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(--outline-width) var(--primary-focus);
  }
  &[active] {
    -webkit-text-stroke-width: 0.04ex;
    text-shadow:
      -0.06ex 0 0 currentColor,
      0.06ex 0 0 currentColor;
  }
  &[tiny] {
    gap: 0.15rem;
    margin: 0;
    padding: calc(var(--form-element-spacing-vertical) / 3)
      calc(var(--form-element-spacing-horizontal) / 2.75);
    font-size: 0.75rem;
  }
  &[small] {
    gap: 0.25rem;
    padding: calc(var(--form-element-spacing-vertical) / 3)
      calc(var(--form-element-spacing-horizontal) / 2.75);
    font-size: 0.85rem;
  }
  &[big] {
    padding: calc(var(--form-element-spacing-vertical) / 1.25)
      calc(var(--form-element-spacing-horizontal) / 1.5);
    font-size: 1.85rem;
    font-weight: 500;
  }
  &[huge] {
    padding: calc(var(--form-element-spacing-vertical) / 1.25)
      calc(var(--form-element-spacing-horizontal) / 1.5);
    font-size: 2.5rem;
    font-weight: 700;
  }
  &[primary] {
    background-color: hsl(220, 46%, 36%);
    border-color: hsl(220, 47%, 52%);
    &:hover,
    &:focus,
    &[active] {
      background-color: #1f4898;
      border-color: #3369d7;
    }
  }
  &[secondary] {
    background-color: #273a68;
    border-color: #4c72bd;
    &:hover,
    &:focus,
    &[active] {
      background-color: #193576;
      border-color: #346ad5;
    }
  }
  &[tertiary] {
    background-color: #364059;
    border-color: #657aa4;
    &:hover,
    &:focus,
    &[active] {
      background-color: #273b68;
      border-color: #4c72bd;
    }
  }
  &[grey] {
    background-color: hsl(23, 0%, 18%);
    border-color: hsl(23 0% 52%);
    &:hover,
    &:focus,
    &[active] {
      background-color: hsl(23 0% 18%);
      border-color: hsl(23 0% 52%);
    }
  }
}
header hgroup > *:last-child {
  color: var(--primary-inverse);
}

.search {
  width: 100%;
  .pagefind-ui__search-input::placeholder {
    opacity: 0.6;
  }
  .pagefind-ui__message {
    padding: 0.5rem 0;
  }
  .pagefind-ui__results {
    .pagefind-ui__result {
      padding: 0.5rem 0;
      .pagefind-ui__result-inner {
        margin-top: 0;
      }
    }
  }
}
.chocolat-overlay {
  .chocolat-visible {
    opacity: 1;
  }
}
