{% for item in params.items %}
  {% if params.level %}
    {% set level = params.level %}
  {% else %}
    {% set level = 3 %}
  {% endif %}
  {% if item.name and item.link %}
    <a href="{{ item.link }}" role="link">
      <h{{ level }}>{{ item.name }}</h{{ level }}>
    </a>
  {% elseif item.name and not item.link %}
    <h{{ level }}>{{ item.name }}</h{{ level }}>
  {% endif %}
  {% if item.description %}
    <p>{{ item.description }}</p>
  {% endif %}
  {% if item.origin and item.origin is string %}
    <a role="button" href="{{ item.origin }}" small>Origin</a>
  {% endif %}
  {% if item.image and(item.image | array) %}
    {% set images = item.image %}
  {% elseif item.image and item.image is string %}
    {% set images = [item.image] %}
  {% endif %}
  {% if (images | array) %}
    {% if item.id %}
      {% set id = item.id %}
    {% else %}
      {% set id = [item.name, item.publisher, item.published, section.name] %}
    {% endif %}
    {{ gallery({
      name: item.name,
      id: id | join("-") | slugify,
      images: images,
      link: item.link,
      publisher: item.publisher,
      published: item.published
    }) }}
    {% set images = null %}
  {% endif %}
  {% if item.items %}
    {{ catalog({
      name: item.name,
      items: item.items,
      level: level + 1
    }) }}
  {% endif %}
{% endfor %}
