{% if params.filters %}
  <div class="filters">
    {% set taxonomyCategories = [] %}
    {% set taxonomyTags = [] %}
    {% for item in params.items %}
      {% if item.data.categories %}
        {% for category in item.data.categories %}
          {% if category not in taxonomyCategories %}
            {% set taxonomyCategories = (taxonomyCategories.push(category), taxonomyCategories) %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if item.data.tags %}
        {% for tag in item.data.tags %}
          {% if tag not in taxonomyTags %}
            {% set taxonomyTags = (taxonomyTags.push(tag), taxonomyTags) %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    <button primary small data-filter="">All</button>
    <div class="button-group" data-filter-group="categories">
      {% for item in taxonomyCategories %}
        <button secondary small data-filter="{{ item }}">{{ item }}</button>
      {% endfor %}
    </div>
    <div class="button-group" data-filter-group="tags">
      {% for item in taxonomyTags %}
        <button tertiary small data-filter="{{ item }}">{{ item }}</button>
      {% endfor %}
    </div>
    <input type="search" placeholder="Search" id="search" />
  </div>
{% endif %}

<masonry>
  {% for item in params.items %}
    <brick data-title="{{ item.data.title }}" data-categories="{{ item.data.categories | jsonstringify }}" data-tags="{{ item.data.tags | jsonstringify }}">
      <a href="{{ item.url }}">
        <h3>{{ item.data.title }}</h3>
        <picture>
          {% if fileExists("content/" + item.url + "map.jpg") %}
            <img
              data-main-image
              src="{{ item.url }}map.jpg"
              alt="{{ item.data.title }}"
              loading="lazy"
              class="square"/>
          {% endif %}
          {% if fileExists("content/" + item.url + "banner.jpg") %}
            <img
              data-alt-image
              src="{{ item.url }}banner.jpg"
              alt="{{ item.data.title }}"
              loading="lazy"
              {% if fileExists("content/" + item.url + "map.jpg") and fileExists("content/" + item.url + "banner.jpg") %}class="square"{% endif %}
              {% if fileExists("content/" + item.url + "map.jpg") and fileExists("content/" + item.url + "banner.jpg") %}style="display: none;"{% endif %}
            />
          {% endif %}
        </picture>
      </a>
    </brick>
  {% endfor %}
</masonry>

<script crossorigin="anonymous" src="/js/shuffle.min.js"></script>
<script crossorigin="anonymous" src="/js/masonry.js"></script>
<script>
  let pictures = document.querySelectorAll("masonry picture");
  for (let i = 0; i < pictures.length; i++) {
    let main = pictures[i].querySelector("img[data-main-image]");
    let alt = pictures[i].querySelector("img[data-alt-image]");
    if (main && alt) {
      pictures[i].addEventListener("mouseleave", (event) => {
        main.style.display = "block";
        alt.style.display = "none";
      })
      pictures[i].addEventListener("mouseenter", (event) => {
        alt.style.display = "block";
        main.style.display = "none";
      });
    }
  }
</script>
