<footer class="footer">
  <details>
    <summary>Share on social media?</summary>
    <p>This is what will show up when you share this page on Social Media:</p>
    {% if fileExists("content" + page.url + "social.jpg") %}
      <img src="{{ page.url }}social.jpg" alt="Social Sharing Image" decoding="async" loading="lazy" width="1200" height="630">
    {% else %}
      <img src="/social.jpg" alt="Social Sharing Image" decoding="async" loading="lazy" width="1200" height="630">
    {% endif %}
  </details>
  {{ metadata.footer | markdown | safe }}
  <nav>
    <ul>
      <li>
        <a href="/archive" role="link">Archive</a>
      </li>
      <li>
        <a href="/categories" role="link">Categories</a>
      </li>
      <li>
        <a href="/tags" role="link">Tags</a>
      </li>
      <li>
        <a href="/labels" role="link">Labels</a>
      </li>
      <li>
        <a href="/search" role="link">Search</a>
      </li>
    </ul>
  </nav>
</footer>
