
{% extends 'layouts/base.njk' %}

{% block content %}
<main class="grid post">
  <div class="twelve">
    <p>Were you looking for the <a href="/tags">Tags</a>, <a href="/archive">Archive</a>, or <a href="/search">Search</a>?</p>
  </div>
</main>
{% endblock %}

{% block footer %}
<footer class="footer">
  {{ metadata.footer | markdown | safe }}
  <nav role="banner">
    <ul>
      <li>
        <a href="/archive" role="link">Archive</a>
      </li>
      <li>
        <a href="/categories" role="link">Categories</a>
      </li>
      <li>
        <a href="/tags" role="link">Tags</a>
      </li>
      <li>
        <a href="/labels" role="link">Labels</a>
      </li>
      <li>
        <a href="/search" role="link">Search</a>
      </li>
    </ul>
  </nav>
</footer>
{% endblock %}
