{% set bodyclass = "details " + bodyclass|default("") %}

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {% if content %}
      {{ content | markdown | safe }}
    {% elseif description %}
      {{ description | markdown | safe }}
    {% endif %}
    {% if image %}
      <img src="/{{ image }}" alt="{{ title }}" />
    {% endif %}
    <grid flex {{ grid }}>
      {% for detail in details %}
        <column>
          <article card special>
            {% if detail.icon %}
              {% include 'icons/' ~ detail.icon %}
            {% endif %}
            <h2>{{ detail.name }}</h2>
          </article>
          {% for item in detail.items %}
            <article>
              <h3>{{ item.name }}</h3>
              {% if item.image and(item.image | array) %}
                <images>
                  {% for src in item.image %}
                    <img lightbox src="/{{ src }}" alt="{{ item.name }}" />
                  {% endfor %}
                </images>
              {% elseif item.image and item.image is string %}
                <img lightbox src="/{{ item.image }}" alt="{{ item.name }}" />
              {% endif %}
              {% if item.link %}
                <a role="button" href="{{ item.link }}" secondary>Gallery</a>
              {% endif %}
              {% if item.points %}
                <ul>
                  {% for point in item.points %}
                    <li>
                      {% if point.name and point.link %}
                        <a href="{{ point.link }}">{{ point.name }}</a>
                      {% elseif point.name %}
                        {{ point.name }}
                      {% else %}
                        {{ point }}
                      {% endif %}
                      {% if point.image and(point.image | array) %}
                        <images>
                          {% for src in point.image %}
                            <img src="/{{ src }}" alt="{{ point.name }}" />
                          {% endfor %}
                        </images>
                      {% elseif point.image and point.image is string %}
                        <img src="/{{ point.image }}" alt="{{ point.name }}" />
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if item.description %}
                {{ item.description | markdown | safe }}
              {% endif %}
              {% if item.addendum %}
                <ul>
                  {% for point in item.addendum %}
                    <li>{{ point }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </article>
          {% endfor %}
        </column>
      {% endfor %}
    </grid>
  </section>
{% endblock %}
