<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; url='{{ redirect.to }}'" />
    <title>Redirecting to {{ redirect.to }}</title>
    <style>
      body {
        margin: 5%;
        text-align: center;
      }
      main {
        height: 95%;
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <section>
      <h1>You should be redirected to <a href="{{ redirect.to }}">{{ redirect.to }}</a>
      </h1>
    </section>
  </body>
</html>
